<%= stylesheet_link_tag "mystyle.css" %>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="/owl.theme.css">

<!--  jQuery 1.7+  -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>


<!-- Include js plugin -->
<script src="/owl.carousel.js"></script>
<script src="/runner.js"></script>
<nav class="navbar  navbar-fixed-top " >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="/static_pages/home">
        <p>ILLINI DRONES</p>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/static_pages/team">TEAM</a></li>
        <li><a href="/static_pages/media">MEDIA</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <br>


</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div id="owl-demo" class="owl-carousel owl-theme pushback">

        <div class="item"><img src="/law_gps_0.jpg" alt="The Last of us"></div>
        <div class="item"><img src="/law_gps.jpg" alt="GTA V"></div>
        <div class="item"><img src="/say_hi.jpg" alt="Mirror Edge"></div>
        <div class="item"><img src="/max_tree.jpg" alt="Mirror Edge"></div>
        <div class="item"><img src="/close.jpg" alt="Mirror Edge"></div>
        <div class="item"><img src="/build.jpg" alt="Build"></div>
        <div class="item"><img src="/ECEB.jpg" alt="Build"></div>
        <div class="item"><img src="/few.jpg" alt="Build"></div>
        <div class="item"><img src="/phantom.jpg" alt="Build"></div>
        <div class="item"><img src="/max_ww.PNG" alt="Build"></div>


      </div>
      <h3 class="text-center">Our Team!</h3>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/max_ranger.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Max Goin</h4>

              <h4 class="subheading">DIY dude</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Max Goin is the RC purist of the truest form. He builds everything from scratch , his equipment sets the bar
                for everyone at Illini Drones. When he's not busy working racing mini quads , building FPV antennas and
                fixing up after a previous crash -he studies microbiology.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/law_gps.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Lawrence Elitzer</h4>
              <h4 class="subheading">Treasurer</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Everyone in the hobby knows how expensive it can get to fix up broken gear or do minor upgrades. Lawrence Elitzer
                is the treasurer at Illini Drones. He flies a 250 sized mini quad and helps keep track of what Illini Drones needs
                financially to keep it's member base.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/amr-2.PNG" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Amrutha Varshini</h4>
              <h4 class="subheading">Engineering/Aerial Photography</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Amrutha is an electical engineer at Illini Drones who indulges herself in Aerial Photography. She has excellent work ethic and
                has previously worked with the University to build unmanned rovers for NASA. Her creativity can be observed in the pictures she takes and skill in
                her fluid stick movement.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/anderson.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Anderson/Anuraag</h4>
              <h4 class="subheading">AP Guy</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Anderson has been in the hobby for several years now , at Illini Drones he works with several autopilots and loves everything that can fly from octorotors to planes.
                He appreciates stability and reliability over sheer speed and manual control. He has recently written software for autononomous landing by asessing the environment.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/phil-1.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Phil</h4>
              <h4 class="subheading">Physicist</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Phil is the drone-enthusiast who loves to fly his micro quad. He makes mods to his Hubsan and flies like a true pro. He loves to fly acro and knows his gear.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
